<%= form_with model: [ :admin, @screen ], class: "space-y-6 max-w-xl" do |f| %>
  <% if @screen.errors.any? %>
    <div class="card p-4 border-red-500/30 bg-red-500/5">
      <ul class="text-xs text-red-300/80 list-disc list-inside">
        <% @screen.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :location_id, "Location", class: "label-blaze" %>
    <%= f.collection_select :location_id, Location.order(:name), :id, :name, {}, class: "input-blaze" %>
  </div>
  <div>
    <%= f.label :name, class: "label-blaze" %>
    <%= f.text_field :name, class: "input-blaze" %>
  </div>
  <div>
    <%= f.label :capacity, class: "label-blaze" %>
    <%= f.number_field :capacity, class: "input-blaze" %>
  </div>

  <div class="flex items-center gap-3">
    <%= f.submit class: "btn-primary" %>
    <%= link_to "Cancel", admin_screens_path, class: "text-white/50 hover:text-white text-sm" %>
  </div>
<% end %>
